.sidebar{
  font-family: Righteous, sans-serif ;
  background-color: #b7be9c;
  flex: 0 0 18%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.side_nav{
  font-size:1.8rem;
  list-style: none;
  margin-top:3.5rem;
}



.nav_link,
.nav_link:visited{
  color: #4f5e5c;
  text-decoration: none;
  text-transform: uppercase;
  height:3rem;
  padding:2rem;
  display: flex;
  align-items: center;

}
.nav_link:hover{
  background-color:#f6f7f2;
}
.nav_link:active{
  transform: translate(1px);
  box-shadow: 0 0.5rem 1rem rgba(0,0,0,.2);
}

.icon{
  width:2rem;
  width:2rem;
  margin-right: 2rem;
  fill:#4f5e5c;
}
.social{
  margin:2rem;
}
.social_icon{
  fill:#4f5e5c;
  height:3rem;
  width:3rem;
  padding:1rem;
}

.social_icon:hover{
  fill:#f6f2f2;
}
.social_icon:active{

  transform: translateY(0.2rem);
}
.legal{
  font-size:1.2rem;
  text-align:center;
  color: #f6f2f2;
  padding: 2.5rem;
}
