.title {
  font-family: 'Satisfy', cursive;
  font-size: 6rem;
  text-align: center;
  color: #4f5e5c;
  margin: 2rem;
}
.main{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.carousel{
  width:40%;
}
.description {
  margin:3rem 10rem;
  color:#999;
}


.about_us_title {
  text-align: center;
  font-size: 3rem;
  margin: 1rem;
  text-transform: uppercase;
}

.about_us_p {
  font-size: 1.5rem;
}



