.cake{

}

.btn:link,
.btn:visited{
  text-transform:uppercase;
  text-decoration: none;
  padding:1rem 2rem;
  display:inline-block;
  border-radius: 10rem;
  transition: all .2s;
  position:relative;
  font-size:1.6rem;
  background-color: #fff;
  color:#777777;
}

.btn:hover{
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0,0,0,.2);
}

.btn:active{
  transform:translateY(-1px);
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.2);

}
